<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>test page</title>
    <link href="static/form1.css" rel="stylesheet" type="text/css" />
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet"> 
 	  <script src="static/lib/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <form action="http://script-bdot3964.c9users.io/" method="GET" enctype=multipart/form-data>
     
	  <div class="box">
		<h4> The results of the script have been completed. A file will be downloaded with all relevent information. Please go check to make sure everything was updated. Thank you. </h4>
		
		<div id = "redirect">
				<input id="subbtn" type= "submit" name= "submit"> 
		</div>
   </form>
   
   
    <script src="static/form1.js"></script>
  </body>
</html>