  
    form{
      margin: 15vh auto;
      width: 400px;
      padding: 1em;
      border: 1px solid #60c2e9;
      border-radius: 0.5em;
		background-color: #003359;
    }
/* #0070b0 "ProximaNovaW01-Semibold",sans-serif #373737 #60c2e9 red #aa272f*/
    form div + div {
      margin-top: 1em;
    }
      
	  h4{
	    color: #FFF;
	    font-family: 'Montserrat', sans-serif;
	  	text-align: center;
	  }
	  
    label{
      display: inline-block;
      width: 150px;
      text-align: center;
	    color: #FFF;	
	    font-family: 'Montserrat', sans-serif;
    }

    input, textarea {
      font: 1em sans-serif;
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #60c2e9;
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    } 

    .inputfile + label {
      font-size: 1.1em;
      font-weight: 600;
      color: white;
  		width: 150px;
      background-color: #60c2e9;
      display: inline-block;
    	text-align: center;
     	margin: 0px
    }

    .inputfile:focus + label, .inputfile + label:hover{
      background-color: #aa272f;
    }
    
    .inputfile + label {
  		width: 200px;
  		display: auto;
      cursor: pointer;
     	transition: 0.3s;
    }
      
     #alerts{
    	color: #FFF;
    	font-size: 1.1em;
    	font-weight: 400;
    	text-align: center;
    }
    
	  #redirect {
  	  margin: auto;
  	  padding-top: 1em;
  	  text-align: center;
	  }

    #submit{
  	  margin: auto;
  	  padding-left: 153px;
  	  padding-top: 1em;
    }
    
    input:focus, textarea:focus {
	   background: white;
	   border-radius: 5px;
	   outline: none;
	   border-color: #60c2e9;
    }

	  #subbtn {
      background-color: #60c2e9;
  		border: none;
  		color: #FFF;
  		transition: 0.3s;
  		cursor: pointer;
  		font-weight: 600;
  		width: 200px;
  		height: inherit;
  		font-family: 'Montserrat', sans-serif;
  		font-size: 1.1em;
    }
    
	  #subbtn:hover{
	  	background-color: #aa272f;
	  }
	  
    textarea {
      vertical-align: top;
      height: 5em;
    }