<!DOCTYPE html>

<html>

<head>

<title>Search</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="static/home.css" rel="stylesheet" type="text/css">    <!-- acesses the css file-->
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="static/jquery-ui/jquery.js"></script>
<script src="static/jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>


<!-- this is the welcome that will remail on the screen-->
<!-- <div class="row" style="display: flex">
	<div class= "span3">
		<img src="static/economical.jpg" alt="Economical Logo" style="width:150px;height:40px;">
	</div>
	<div class="span3">
		<b style="font-size:150%;font-family:verdana;">Network Tool Portal</b>
	</div>
</div>   <!--pastes the economical logo into the top left hand side of the screen-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
		<img src="static/economical.jpg" alt="Economical Logo" style="width:11.25em;height:3em;">
    </div>
    <div class="col-6" style="text-align: center;">
		<p id="title" style="font-size:150%;font-family:verdana;font-weight:bold">Network Tool Portal</p>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<!-- header buttons-->
<nav id="header" class="btn-group navbar navbar-expand-lg navbar-dark">
	<!-- <button id= "homebtn" class="navbtn" onclick="nav(1)"><i class="fa fa-fw fa-home"></i> Home</button><!--
	--><!-- <a href="#" class="navbar-left"><img src="static/economical.jpg" alt="Economical Logo" style="width:15em;height:4em;"></a> --> 
	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: #003359">
	   <button id= "vlanbtn" class="navbtn nav-item" onclick="nav(1)"><i class="fa fa-fw fa-user"></i> VLAN Move</button><!--
	--><button  id= "wifibtn" class="navbtn nav-item pressed" onclick="nav(2)"><i class="fa fa-fw fa-wifi"></i> Guest Wi-Fi</button><!--
	--><button  id = "cwlanbtn" class="navbtn nav-item" onclick="nav(3)"><i class="fa fa-fw fa-signal"></i> C-WLAN</button>
	</div>
</nav>

<p/>  <!--this puts a space between the header and the welcome-->


<hr/>
<!-- this is the block that allows python message flashes to work  -->
<div id="alerts">
  	{% with messages = get_flashed_messages() %}
  	  {% if messages %}
  	    {% for message in messages %}
		<div class='alert alert-warning alert-dismissible' role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{message}}
		</div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	{% block body %}{% endblock %}
</div>

<!--home page-->

<!-- <div id="homeForm" class="backgroundForms">
	<p style="text-align:center; font-size:30px; text-decoration:underline">Network</p>
	<hr/>
	<p style="font-size:25px; text-align:center;">Powered by NTW</p>
</div>

<!-- contact page -->
<!--
<div id="contact" class="backgroundForms">
	<p style="text-align:center; font-size:40px; text-decoration:underline">Contact Informtation</p>
	<p style="font-size:25px;">Network Group</p>
	<hr/>
	<p style="font-size:20px;">EMAIL: networkgroup@economical.com</p>
	<br/>
	<img src="static/Bruce Lee.JPG" alt="Bruce" style="width:20%; height:20%;" title="Tho Huynh: Martial Arts Expert">
	<img src="static/Dumbledore.jpg" alt="Wizard" style="width:20%;height:35%;position:absolute;right:2.5%;" title="Ben Simpson: Web Master">
</div>
 -->


<!-- guest wifi form-->	
<div id="WiFi" class="backgroundForms">
	<p style="margin-top: .5em;margin-bottom: 1em;font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;">Guest Wi-Fi</p>
	<p style="text-align:center"><b>Would you like to add a New User or edit an existing user?</b></p>
		<div style="background-color:#003359;">
			
			<button id="addbtn" class="wifibtn" onclick="Navigate(1)">Add New User</button><!--
			--><div class="divider"></div><!--
			--><button id="searchbtn" class="wifibtn" onclick="Navigate(2)">Search for User</button>
		
			<!-- <button id="deletebtn" class="wifibtn" onclick="Navigate(3)">Delete User</button>
			<button id="extendbtn" class="wifibtn" onclick="Navigate(4)">Extend Time</button> -->
		</div>
		<hr>
        <!--Add new user form-->
		<form id="guestWiFi" action="/new" method="post" enctype="multipart/form-data">
			<p style="font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;"><b>Sponsor</b></p>    
			<label>RITM#:</label>
			<input type="text" name="ritm"required>
			<label>Sponsor Email:</label>
			<input type="email" name="sponsoremail" required>
				<label>Access Time Duration</label>
			<select name="length" class="selectDuration" required>
					<option  value = "14400">4 hours</option>
					<option  value = "28800">8 hours</option>
					<option  value ="86400">24 hours</option>
					<option  value ="259200">3 days</option>
					<option  value ="604800">7 days</option>
					
					<option id="approval" value ="1209600">14 days: Requires Networking approval!</option>
					<option id="approval" value ="2592000">1 months: Requires Networking approval!</option>
					<option id="approval" value ="5184000">2 months: Requires Networking approval!</option>
					<option id="approval" value ="7776000">3 months: Requires Networking approval!</option>
					<option id="approval" value ="10368000">4 months: Requires Networking approval!</option>
					<option id="approval" value ="11826000">5 months: Requires Networking approval!</option>
					<option id="approval" value ="15552000">6 months: Requires Networking approval!</option>				
					<option id="approval" value ="31536000">1 year: Requires Networking approval!</option>
			</select>
<!-- 		<label>Username:</label>
			<input type="text" name="login" required>
			<label>Password:</label>
			<input type="password" name="password" required> -->
			<input value="Submit" type="submit" class="submitButton">
		</form>
	
		<!--Search for user form-->
		<form id="guestSearch" action="/search.php" method="post" enctype="multipart/form-data">
			<p></p>
			<div class="row">
				<div class="col-11">
					<label>Search for user by email address:</label>
					<input name="search" type="email" placeholder="jondoe@hotmail.com.." ><!--
					--><button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
				</div>
			</div>
			<p id="userFound"></p>
			<p id="dataHere">The user information will go here</p>
		</form>
		
		
 		<!--Delete user form-->
<!--		<form id="guestDelete" action="/delete1.php" method="post" enctype="multipart/form-data">
			<p></p>
			<label>Enter the email of the user to be deleted:</label>
			<input name="account" type="text" placeholder="jondoe@hotmail.com.." style="width:97.5%;" required>
 		<label>Input your 3 Character ID:</label>
			<input type="text" name="login" style="width:97.5%;" placeholder="abc.." required>
			<label>Password:</label>
			<input type="password" name="password" placeholder="Password.." required> 			
			<input value="Submit" type="submit" class="submitButton">
		</form>
		
		<!--Extend time form-->
<!--		<form id="guestExtend" action="/extend.php" method="post" enctype="multipart/form-data">
			<p></p>
			<label>Extended time:</label>
			<select name="HOURS" class="selectDuration" required>
				<optgroup label="HOURS">
					<option  value = "14400">4 hours</option>
					<option  value = "28800">8 hours</option>
					<option  value ="86400">24 hours</option>
					<option  value ="259200">3 days</option>
					<option  value ="604800">7 days</option>
					
					<option id="approval" value ="1209600">14 days: Requires Networking approval!</option>
					<option id="approval" value ="2592000" >1 months: Requires Networking approval!</option>
					<option id="approval"value ="5184000" >2 months: Requires Networking approval!</option>
					<option id="approval" value ="7776000" >3 months: Requires Networking approval!</option>
					<option id="approval" value ="10368000" >4 months: Requires Networking approval!</option>
					<option id="approval" value ="11826000" >5 months: Requires Networking approval!</option>
					<option id="approval" value ="15552000" >6 months: Requires Networking approval!</option>				
					<option id="approval" value ="31536000" >1 year: Requires Networking approval!</option>					
					
					
				</optgroup>
			</select>
			<label>Email address of the user to have extended time:</label>
			<input name="account" type="email" placeholder="jondoe@hotmail.com.." style="width:97.5%;" required> 
			<input value="Submit" type="submit" class="submitButton">
		</form> -->
</div>

<!-- vlan move form -->

<form id="vlanMove" class="backgroundForms" action="/index.php" method="post" enctype="multipart/form-data"> 
	<p style="margin-top: .5em;margin-bottom: 1em;font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;">VLAN Move Request</p>
	<hr/>
		<label> Device Location:</label>
		<select name="devlocation" required>
			<option selected="true" disabled="true"><b>WESTMOUNT (10.1.X.X)</b></option>
			<option value="Westmount:Upper Floor">Westmount:Upper Floor</option>
			<option value="Westmount:Main Floor">Westmount:Main Floor</option>
			<option value="Westmount:Lower Floor">Westmount:Lower Floor</option>
			<option selected="true" disabled="true"><b>RIVERBEND (10.2.X.X)</b></option>
			<option value="Riverbend: 2nd Floor">Riverbend: Second Floor</option>
			<option value="Riverbend: 3rd Floor">Riverbend: Third Floor</option>
			<option value="Riverbend: 4th Floor">Riverbend: Fourth Floor</option>
			<option value="Riverbend: 5th Floor">Riverbend: Fifth Floor</option>
			<option selected="true" disabled="true"><b>Deskside Support Labs (10.2.254.X)</b></option>
			<option value="Riverbend: intellab">Riverbend: intellab</option>
			<option value="Riverbend: rbs2_level2lab">Riverbend: rbs2_level2lab</option>
		</select>	
		<label>VLAN Selection:</label>
		<select name="vlanselect" required>
			<option selected="true" disabled="true"><b>Special VLAN</b></option>
			<option value="Special VLAN 253">Special VLAN 253</option>
			<option selected="true" disabled="true"><b>Riverbend</b></option>
			<option value="402">Workstation VLAN (402) Second Floor</option>
			<option value="403">Workstation VLAN (403) Third Floor</option>
			<option value="404">Workstation VLAN (404) Fourth Floor</option>
			<option value="405">Workstation VLAN (405) Fifth Floor</option>
			<option value="406">Workstation New VLAN (406) Second Floor</option>
			<option selected="true" disabled="true"><b>Westmount</b></option>
			<option value="121">Upper Floor VLAN (121)</option>
			<option value="120">Upper Floor VLAN (120)</option>
			<option value="117">Main Floor VLAN (117)</option>
			<option value="119">Lower Floor VLAN (119)</option>
			<option selected="true" disabled="true"><b>Deskside Support Labs</b></option>
			<option value="40">E-WLAN VLAN (40)</option>
			<option value="45">C-WLAN VLAN (45)</option>
			<option value="70">IP_Phone VLAN (70)</option>
			<option value="71">IP_Phone VLAN (71)</option>
			<option value="72">IP_Phone VLAN (72)</option>
			<option value="73">IP_Phone VLAN (73)</option>
			<option value="74">IP_Phone VLAN (74)</option>
			<option value="81">Printers (81)</option>
			<option value="89">Dev_Voice_GW (89)</option>
		</select>	
		
		<div class="row">
			<div class="col">
				<label>MAC Address:</label>
					<input type="text" id="macAddress" name="MAC" placeholder="XX:XX:XX:XX:XX:XX" maxlength='17' required>
			</div>
			<div class="col">
				<label>Device IP:</label>
					<input type="text" name="IP" placeholder="Input Device IP.."required>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>Change Ticket #:</label>
					<input type="text" name="chg" placeholder="Change #.." required>
			</div>
			<div class="col">
				<label>Work Station Number:</label>
					<input type="text" name="workstation" placeholder="Workstation.." required>
			</div>
		</div>
		<input type="submit" value="Submit" class="submitButton" style="width:100%;">
</form>


<!-- c-wlan form -->

<div id="cwlan" class="backgroundForms"> 
	<p style="margin-top: .5em;margin-bottom: 1em;font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;">C-WLAN</p>
	<p style="text-align:center"><b>Would you like to add a New User or edit an existing user?</b></p>
		<div style="background-color:#003359;">
			<button id="cwlanaddbtn" class="wifibtn" onclick="cwlan(1)">Add New User</button><!--
			--><div class="divider"></div><!--
			--><button id="cwlansearchbtn" class="wifibtn" onclick="cwlan(2)">Search for User</button>
		</div>
	<hr>
	 <!--Add new user form-->
	<form id="addcwlan" action="/cwlan" method="post" enctype="multipart/form-data">
		<p style="font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;"><b>Add User</b></p>    
		<label>Wireless MAC address:</label>
			<input id="macAddress" type="text" name="MAC" placeholder="XX:XX:XX:XX:XX:XX" maxlength='17' required>		
		<div class="row">
			<label style="padding-left:15px">Sponsor Information:</label>
		</div>
		<div class="row">
			<div class="col">
					<input type="text" name="spon_name" placeholder="Full Name" required>
			</div>
			<div class="col">
	
					<input type="email" name="spon_email" placeholder="E-mail" required>
			</div>
			
		</div>
		<div class="row">
			<div class="col">
				<label>Start Date:</label>
					<input type="date" name="startdate" required>
			</div>
			<div class="col">
				<label>End Date:</label>
					<input type="date" name="enddate" required>
			</div>
		</div>
		<div class="row">
			<label style="padding-left:15px">User Information:</label>
		</div>
		<div class="row">
			<div class="col">
					<input type="text" name="users_name" placeholder="Full Name" required>
			</div>
			<div class="col">
					<input type="email" name="user_email" placeholder="E-mail" required>
			</div>
			<div class="col">
					<input type="text" name="user_company" placeholder="Company" required>
			</div>
		</div>
		
	<input type="submit" value="Submit" class="submitButton" style="width:100%;">
	</form>
	
	<!--Implement new search functionality -->
	<form id="searchcwlan" action="/cwlan" method="post" enctype="multipart/form-data">
		<p style="font-size:35px;text-align:center;background-color:#60c2e9;color:white; padding:10px;"><b>Work In Progress...</b></p> 
	</form>
</div>

<!-- footer element  -->
<div id= "footer">
	<footer>
		<p id="tag">Powered by NTW</p><p align="right" id="contactfooter">Questions? E-mail <a id="contactemail" href="mailto:networkgroup@economical.com?Subject=Webpage%20Support" target="_top">networkgroup@economical.com</a></p>
	</footer>
</div>

<script type="text/javascript" src="static/home.js"></script>   <!-- accesses the javascript file-->
<!-- bootstrap link in case of use  -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</body>


</html>